<template>
  <img alt="Vue logo" src="./assets/logo.png">
  <h2>AAA</h2>
  <h2>{{ abc }}</h2>
  <h2>{{ age }}</h2>
  <h2>{{ num }}</h2>
  <button @click="add(1)" >テスト</button>
  <HelloWorld msg="Welcome to Your Vue.js + TypeScript App"/>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import HelloWorld from './components/HelloWorld.vue';

export default defineComponent({
  name: 'App',
  components: {
    HelloWorld
  },
  setup(){
    const abc = ref(1);

    //明示的な型付け
    const age = ref<number | string>(30); // Ref<number | string>型

    const num = ref(0)

    //普通の関数と同じ記述
    const add = (n: number) => {
      num.value += n
    }

    return {
      abc,
      age,
      num,
      add,
    };
  }
});
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
